@model CapstoneProjectToDoApplication.Models.ToDoList

@{
    ViewData["Title"] = "Create";
}

<h1 class="display-4">Create New List</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-secondary" asp-action="Index">Back to Lists</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    <center><img src="~/css/picture1.jpg" /></center>
